<settings>
    <mirrors>
        <mirror>
            <id>aliyun-nexus-repo</id>
            <name>aliyun nexus repo</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>aliyun-nexus-repo</mirrorOf>
        </mirror>
        <mirror>
            <id>localhost-nexus-repo</id>
            <name>localhost nexus repo</name>
            <url>http://localhost:9081/repository/maven-public/</url>
            <mirrorOf>localhost-nexus-repo</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>localhost-docker-registry</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <docker.image.prefix>localhost:5000</docker.image.prefix>
            </properties>
        </profile>
        <profile>
            <id>localhost-nexus-repo</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://localhost:9081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://localhost:9081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <properties>
                <releases.id>localhost-nexus-repo-releases</releases.id>
                <releases.name>localhost nexus repo releases</releases.name>
                <releases.url>http://localhost:9081/repository/maven-releases/</releases.url>
                <snapshots.id>localhost-nexus-repo-snapshots</snapshots.id>
                <snapshots.name>localhost nexus repo snapshots</snapshots.name>
                <snapshots.url>http://localhost:9081/repository/maven-snapshots/</snapshots.url>
            </properties>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>localhost-nexus-repo-releases</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>localhost-nexus-repo-snapshots</id>
            <username>admin</username>
            <password>admin</password>
        </server>
    </servers>

</settings>
